<div class='logo header__logo footer__logo'>
  <a href='#' aria-label='Return to the Home Page'>
    <svg class='logo-icon logo-icon-color logo-icon-color--white header__logo-icon'>
      <use xlink:href='./assets/svg/sprite.svg#logo' />
    </svg>
  </a>
</div>