<nav class='nav header__nav footer__nav'>
  {{#each data}}
    <a
      href='#'
      aria-label='{{ariaLabel}}'
      class='nav__link nav__link--light header__nav-link footer__nav-link'
    >{{textContent}}</a>
  {{/each}}
</nav>