<a href='{{linkTo}}' target='_blank' aria-label='{{ariaLabel}}' title='{{linkTitle}}'>
  <svg class='footer__social-icon social-icon-color {{#if larger}}footer__social-icon--big{{/if}} {{#if lineStyles}}icon-line-styles{{/if}}'>
    <use xlink:href='{{svgLink}}' />
  </svg>
</a>