@use '../abstracts' as *;

.header {
  @include flex($justification: center);
  @include width-height($full-width);
  background: $brown-light;

  &__inner {
    @include flex($alignment: center, $justification: space-between);
    @include width-height($full-width);
    max-width: 1228px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    @include for-nav {
      padding: 13px 10px;
    }
  }

  .header__logo {
    margin-top: 4px;

    &-icon {
      @include for-tablet-landscape-down {
        @include width-height(168px, 31px);
      }
      @include for-phone-only {
        @include width-height(100px, 19px);
      }
    }
  }

  .header__nav {
    transform: translateX(-39px);
    @include for-tablet-landscape-down {
      transform: translateX(0);
    }
    @include for-nav {
      @include width-height($full-width, calc(100vh - 60px));
      flex-direction: column;
      justify-content: flex-start;
      gap: 27px;
      position: fixed;
      top: 60px;
      left: 0px;
      background: $brown-light;
      padding: 64px 15px;
      box-sizing: border-box;
      z-index: 999;
      overflow-y: hidden;
      display: none;

      &.is-open {
        display: flex;
      }
    }

    &-link {
      padding: 28px 15px;
      @include for-tablet-landscape-down {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      &:hover {
        background: $tomato-light;
      }
    }
  }

  &__bar {
    @include flex($alignment: center, $justification: space-between);
    gap: 30px;
    @include for-tablet-landscape-down {
      gap: 20px;
    }
    @include for-phone-only {
      gap: 16px;
    }

    &-icon {
      @include width-height(36px, 36px);
      cursor: pointer;
      @include for-tablet-landscape-down {
        @include width-height(27px, 27px);
      }
      @include for-phone-only {
        @include width-height(20px, 20px);
      }

      &:hover {
        --fill-header-icon-color: #{$tomato-light};
      }

      &-color {
        --fill-header-icon-color: #{$black};
      }
    }
  }
}
