@use '../abstracts' as *;

html {
  font-size: $initial-fsz;
  min-width: $min-content-width;
}

html,
body,
.root {
  @include width-height($full-width, $full-height);
}

body {
  @include fonts();
  font-family: 'Montserrat', sans-serif;
}

.root {
}

.main {
  @include width-height($full-width);
  flex: 1 0 auto;
}

.container {
  max-width: 1400px;
}

.header,
.footer {
  flex-shrink: 0;
}

.icon-line-styles {
  --stroke-width: 2;
  --stroke-linecap: round;
  --stroke-linejoin: round;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  outline: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
